body {
  background: #F4F6FD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.d1 {background: pink;}
.d2 {background: lightblue;}
.d3 {background: lightcyan;}
.d4 {background: lightgrey;}
.d5 {background: lightcoral;}
.d6 {background: lightgreen;}


/*
font-family: 'Montserrat', sans-serif;
500;600;700
*/

/* ------------------------ HEADER --------------------------------*/
header {
  background: #fff;
  border-top: solid 8px #0148AD;
  margin-bottom: 40px;
  .logo {
    width: 210px;
  }
}

.navbar {
  padding: 15px 0;
  text-align: center;
  @media (min-width: 992px) {
    text-align: left;
  }
  li {
    padding: 3px 0;
    @media (min-width: 992px) {
      padding: 0;
    }
  }
}

.nav-link {
  color: #264E72;
}

.navbar-nav .nav-link.active {
  color: #0148AD;
}
.blue-btn {
  width: 100%;
  @media (min-width: 992px) {
    width: 120px;
  }
  a {
    background: #0148AD;
    padding: 10px 70px;
    border-radius: 6px;
    color: #fff;
    /* display: inline-block; */
    text-align: center;
    margin-top: -3px;
    &:hover {
      background: #016BAD;
      color: #fff;
    }
  }
}

/* ------------------------ LOGIN -------------------------------*/

.login-wrapper {
  .white-box {
    padding: 40px 60px 10px 60px;
    border-radius: 15px;
  }
  h2 {
    color: #0148AD;
    text-align: center;
    margin-bottom: 20px;
  }
  input[type="email"],
  input[type="password"] {
    height: 50px;;
  }
  button {
    padding: 14px;
    background: #0148AD;
    &:hover {
      background: #135BC1;
    }
  } 
}


/* ------------------------ CONTENT -------------------------------*/
h1 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  color: #264E72;
}
.border-bottom {
  border-bottom: solid 2px #F1F3F6 !important;
  padding-bottom: 13px;
  margin-bottom: 15px;
}

.white-box {
  background: #fff;
}

.check-list {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 15px;
    font-weight: 300;
    padding-left: 45px;
    background: url("../img/check-icon.svg") no-repeat 0 0;
    background-size: 35px;
  }
}
/* ------------------------ FOOTERR -------------------------------*/

footer {
  text-align: center;
  font-size: 14px;
  background: #F4F6FD;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  @media (min-width: 992px) {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
  }
}
.footer-nav {
  margin-bottom: 8px;
}










textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: #0148AD;
  &:hover {
    color: #0148AD;
  }
  &.eye-icon {
    background: url("../img/eye-icon.svg") no-repeat right 3px;
    padding: 4px 25px 4px 0;

    background: url(../img/eye-icon.svg) no-repeat right 3px;
    padding: 4px 34px 4px 0;
  }
}
