/* 
@media (min-width: 576px) { color: red;}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { color: red; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { color: red; }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { color: red; }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { color: red; }

*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
body {
  background: #F4F6FD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.d1 {
  background: pink;
}

.d2 {
  background: lightblue;
}

.d3 {
  background: lightcyan;
}

.d4 {
  background: lightgrey;
}

.d5 {
  background: lightcoral;
}

.d6 {
  background: lightgreen;
}

/*
font-family: 'Montserrat', sans-serif;
500;600;700
*/
/* ------------------------ HEADER --------------------------------*/
header {
  background: #fff;
  border-top: solid 8px #0148AD;
  margin-bottom: 40px;
}

header .logo {
  width: 210px;
}

.navbar {
  padding: 15px 0;
  text-align: center;
}

@media (min-width: 992px) {
  .navbar {
    text-align: left;
  }
}

.navbar li {
  padding: 3px 0;
}

@media (min-width: 992px) {
  .navbar li {
    padding: 0;
  }
}

.nav-link {
  color: #264E72;
  position: relative;
}

@media (min-width: 992px) {
  .nav-link:before {
    content: " | ";
    position: absolut;
    left: 0;
    color: #E2E2E2;
    padding-right: 9px;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-item:first-child a:before,
  .navbar-nav .nav-item:last-child a:before {
    display: none;
  }
}

.navbar-nav .nav-link.active {
  color: #0148AD;
}

.blue-btn {
  width: 100%;
}

@media (min-width: 992px) {
  .blue-btn {
    width: 120px;
    margin-left: 10px;
  }
}

.blue-btn a {
  background: #0148AD;
  padding: 10px 70px;
  border-radius: 6px;
  color: #fff;
  /* display: inline-block; */
  text-align: center;
  margin-top: -3px;
}

.blue-btn a:hover {
  background: #016BAD;
  color: #fff;
}

.navbar-toggler {
  border: none;
  font-size: 30px;
  color: #0148AD;
}

/* ------------------------ LOGIN -------------------------------*/
.login-wrapper .white-box {
  padding: 40px 60px 10px 60px;
  border-radius: 15px;
}

.login-wrapper h2 {
  color: #0148AD;
  text-align: center;
  margin-bottom: 20px;
}

.login-wrapper input[type="email"],
.login-wrapper input[type="password"] {
  height: 50px;
}

.login-wrapper button {
  padding: 14px;
  background: #0148AD;
  border: none;
}

.login-wrapper button:hover {
  background: #135BC1;
}

/* ------------------------ CONTENT -------------------------------*/
h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  h1 {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  color: #264E72;
}

h5 {
  font-size: 1.1rem;
  color: #6C6C6C;
}

.border-bottom {
  border-bottom: solid 2px #F1F3F6 !important;
  padding-bottom: 13px;
  margin-bottom: 15px;
}

.white-box {
  background: #fff;
}

.check-list {
  list-style: none;
  padding: 0;
}

.check-list li {
  margin-bottom: 15px;
  font-weight: 300;
  padding-left: 45px;
  background: url("../img/check-icon.svg") no-repeat 0 0;
  background-size: 35px;
}

ul.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brand-box {
  height: 100%;
}

.suppier-logo {
  text-align: center;
  -webkit-box-shadow: 0px 0px 46px #E9ECF8;
          box-shadow: 0px 0px 46px #E9ECF8;
  margin-right: 20px;
}

.suppier-logo img {
  width: 80%;
}

.light-gray {
  color: #BABCC1;
  padding: 0 15px;
}

.blue-text {
  color: #0148AD;
}

.light-blue {
  color: #25ACDE;
}

.light-blue:hover {
  color: #58B9DD;
}

/* ------------------------ FOOTERR -------------------------------*/
footer {
  text-align: center;
  font-size: 14px;
  background: #F4F6FD;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

@media (min-width: 992px) {
  footer {
    padding-top: 20px;
  }
}

.footer-nav {
  margin-bottom: 8px;
}

.contact-table strong {
  display: block;
  width: 120px;
}

.contact-table td {
  padding: 5px 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a {
  text-decoration: none;
  color: #0148AD;
}

a:hover {
  color: #2E86BE;
}

a.eye-icon {
  background: url("../img/eye-icon.svg") no-repeat right 3px;
  padding: 4px 25px 4px 0;
  background: url(../img/eye-icon.svg) no-repeat right 3px;
  padding: 4px 34px 4px 0;
}
/*# sourceMappingURL=styles.css.map */